body {
  background-color: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  background-color: beige;
  border: purple 2px solid;
  padding: 20px 30px;
  border-radius: 20px;
}

a {
  font-size: 30px;
  color: blue;
  text-decoration: none;
}